html,
body {
    padding: 0;
    margin: 0;
    min-width: 520px;
    width: 100%;
    height: 100%;
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
    font-family: HelveticaNeue, Helvetica, sans-serif;
}

@media (max-width: 700px) and (min-width: 520px) {
    @viewport {
        width: 640px;
    }
}

.main {
    width: 100%;
    height: 100%;
}

.left,
.right {
    width: 16.5%;
    height: 49.2%;
    margin: 15% 5%;
}

.left {
    float: left;
    margin-right: 5%
}

.right {
    float: right;
    margin-left: 5%;
}

.center {
    margin: 0 auto;
    padding-top: 22%;
    display: block;
    width: 45%;
    height: 100%;
}

.kalah {
    background: url(../images/kalah.png) no-repeat;
    border-radius: 9px;
    background-size: 100% 100%;
    background-color: rgba(253, 150, 38, 0);
    height: 90%;
    min-height: 60px;
    width: 100%;
}

.kalah .stone {
    float: left;
    width: 20%;
    height: 10%;
    margin: 0;
}

.user-label {
    font-weight: 700;
    font-size: 1.2em;
    text-align: center;
    width: 100%;
}

.exit-label {
    color: #000000;
    font-weight: 700;
    font-size: 1em;
}

.pit-wrapper {
    margin-right: 5%;
    width: 11%;
    height: 100%;
    float: left;
}

.pit {
    background: url(../images/pit.png) no-repeat;
    background-size: 100% 100%;
    height: 90%;
    width: 100%;
}

.pit-select {
    cursor: pointer;
}

.pit-text {
    color: #000000;
    font-weight: 700;
    font-size: 0.9em;
    width: 100%;
    text-align: center;
}

.stone {
    background: url(../images/stone.png) no-repeat center;
    background-size: contain;
    width: 100%;
    height: 50%;
    margin: 10% auto;
}


.stones {
    background: url(../images/stones.png) no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    margin: 4% auto;
}
.row {
    display: inline-block;
    height: 15%;
    padding-left: 9%;
    margin-top: 5%;
    width: 91%;
    clear: both;
}

.messageBox {
    position: absolute;
    top: 10%;
    width: 100%;
    left: 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
}

.start-panel {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 80%;
}

.start-panel a {
    color: black;
    clear: both;
    width: 100%;
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 3%;
}

.start-panel p {
    font-size: 1.1em;
    font-weight: 700;
}

.start-panel input {
    color: black;
    outline-style:none;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    clear: both;
    border-radius: 5px;
    border: 2px solid black;
    background-color: transparent;
    line-height: 150%;
    width: 60%;
    height: 24px;
    color: black;
    margin: 3%
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    
    color: black;
    font-size: 1em;
    font-weight: 700;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    
    color: black;
    opacity: 1;
    font-size: 1em;
    font-weight: 700;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    
    color: black;
    opacity: 1;
    font-size: 1em;
    font-weight: 700;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    
    color: black;
}