<!doctype html>
<html ng-app="kalahApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Kalah</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/lib/angular.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/controllers/gameController.js"></script>
</head>

<body>
<div class="main" ng-controller="gameController">

    <div class="left" ng-show="gameStarted">
        <div class="user-label">{{opponentUserName}}: {{opponentKalah.length}}</div>
        <div class="kalah">
            <div class="stone" ng-repeat="i in opponentKalah"></div>
        </div>
    </div>
    <div class="right" ng-show="gameStarted">
        <div class="user-label">{{currentUserName}}: {{currentUserKalah.length}}</div>
        <div class="kalah">
            <div class="stone" ng-repeat="i in currentUserKalah"></div>
        </div>
    </div>
    <div class="center">
        <div class="messageBox">{{messageBox}}
            <br/>
            <span ng-show="gameStarted"> Game code: {{gameId}}</span>
        </div>
        <div class="start-panel" ng-hide="gameStarted">
            <a href="" ng-click="start()">Start new game</a><br/>
            <input type="text" id="username" placeholder="Username" ng-model="userName"/>

            <p>or connect to game by typing code:</p>
            <input type="text" id="connectId" placeholder="Game code" ng-model="gameId"/><br/>
            <a href="" ng-click="connect()">Connect</a>
        </div>
        <div class="row">
            <div class="pit-wrapper" ng-repeat="pit in opponentUserPits track by $index">
                <div class="pit-text">{{pit.stones}}</div>
                <div class="pit">
                    <div class="stone" ng-show="( pit.stones == 1 )"></div>
                    <div class="stones" ng-show="( pit.stones > 1 )"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="pit-wrapper" ng-repeat="pit in currentUserPits track by $index">
                <div class="pit pit-select" ng-click="makeTurn(pit)">
                    <div class="stone" ng-show="( pit.stones == 1 )"></div>
                    <div class="stones" ng-show="( pit.stones > 1 )"></div>
                </div>
                <div class="pit-text">{{pit.stones}}</div>
            </div>
        </div>
    </div>

</div>
</body>

</html>